# File e cartelle del sistema operativo
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
Directory.ole
$RECYCLE.BIN
.Trashes
.Spotlight-V100

# File di log e temporanei
*.log
*.swp
*.swo
*.tmp

# File generati da IDE e editor
.vscode/
*.code-workspace
*.idea/
.sublime-project
.sublime-workspace

# File di configurazione locale
.env
.env.*.local
secrets.json

# Cartelle e file di dipendenze
node_modules/
package-lock.json
yarn-error.log
yarn.lock
.pnp.js
.pnp.cjs
.pnp/

# Output di build
build/
dist/
out/
docs/

# Cartelle e file del frontend (client)
client/node_modules/
client/build/
client/coverage/
client/.next/
client/.cache/

# Cartelle e file del backend (server)
server/node_modules/
server/.env
server/dist

# Cartelle e file dell'api proxy
api_proxy/node_modules/
api_proxy/dist
api_proxy/.env

# Tools di sviluppo
/node_debug.log
/.server
/.vercel
/.firebase
/coverage
/build-reports
/.next
/.cache

# Altri file e cartelle da ignorare
/.gitignore_global
Dockerfile.ignore
*.starter
*.template
